.fixedbutton {
  background: #3476fd;
  font-size: 20px;
  color: #fff;
  border:none;
  /* box-shadow: -1px -8px 8px 0px rgba(0,0,0,.05), 0 1px 0px 9px rgba(0,0,0,.1); */
  text-transform: uppercase;
  font-weight: 500;
  outline:none;
}

.fixedbutton:visited {
  outline: none;
}

.fixedbutton:active {
  background:#2858b9;
  outline: none;
  border: none
}

.fixedbutton:disabled {
  background: #94b6fb;
}

.secondary {
  color: #3476fd;
  background: #fff;
}

.secondary:active {
  background:#eaeaea;
  outline: none;
  border: none
}